.mainHeader{
    text-align: center;
    font-weight: bolder;
    background-color: darkcyan;
    transition: all 3s;
    width: 50vw;
    border-radius: 2vw;
    margin: auto;
    margin-top:40vh;
    font-family: sans-serif;
}
.flipped{
    transform: rotate(-180deg)
}
.small{
    margin: auto;
    text-align: center;
    padding-top: 5px;
}